body {
    background-color: aqua;
    font-family: sans-serif;
}

.container {
    margin-top: 30vh;
    margin-left: 1vw;
    text-align: center;

}
button{
    color: whitesmoke;
    background-color: aqua;
    border: solid 0.3vw whitesmoke;
    border-radius: 0.3vw;
    padding: 2vw;
    margin: 2vw;
    font-size: 30px;
}

button:hover {
    background-color: whitesmoke;
    color: aqua;

}





